.env
.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

tmp/
debug/

src/eval/outputs/
src/eval/results/
src/eval/cvpr_results/
src/eval/logs/
src/eval/viewer/media/
src/eval/viewer/questions.jsonl

src/tva/models/ckpts/
src/tva/utils/seg_logs/
